//universal bottom margin
$universal-margin-bottom: 20px;

//hero variables
$hero-height-default: 400px;
$hero-height-md: 510px;
$hero-height-lg: 666px;
$hero-image-url: url('../img/crowd2.jpg');
$hero-gradient: linear-gradient(rgba(0, 0, 255, 0.4), rgba(0, 0, 255, 0.4));

//hero header variables
$hero-font-size: 2em;
$hero-font-color: #efefef;
$hero-bold-weight: 600;

//sub-hero content variables
$sub-hero-font-color: white;
$sub-hero-color: #d1d7ff;
$sub-hero-height: 200px;

//grid variables
$grid-columns: 12;
$grid-max-width-md: 720px;
$grid-max-width: 1200px;

//card variables
$card-border: solid 1px lightgray;
$card-box-shadow: 1px 1px 5px #888888;
$card-display: inline-block;
$card-text-align: center;
$card-margin-top: 40px;
$card-height: 400px;

//media query breakpoints git
$breakpoint-small: "only screen and (min-width: 550px)";
$breakpoint-medium: "only screen and (min-width: 768px)";
$breakpoint-large: "only screen and (min-width: 1000px)";
